a {
  font-size:14px;
  font-weight:700
}
.superNav {
  font-size:13px;
}
.form-control {
  outline:none !important;
  box-shadow: none !important;
}
@media screen and (max-width:540px){
  .centerOnMobile {
    text-align:center
  }
}

pre {
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 18px;
}