<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/vendor/font-awesome/css/all.min.css}">
    <link th:fragment="link-css" rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:fragment="header">
    <div class="superNav border-bottom py-2 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
                    <select  class="me-3 border-0 bg-light">
                        <option value="en-us">EN-US</option>
                    </select>
                    <span class="me-3" sec:authorize="hasAnyAuthority('ADMIN', 'MANAGE')">
                        <a class="text-danger text-decoration-none" th:href="@{/admin}"><i class="fa-solid fa-house-user"></i> Admin</a>
                    </span>
                    <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3">
                        <strong>info@somedomain.com</strong>
                    </span>
                    <span class="me-3">
                        <i class="fa-solid fa-phone me-1 text-warning"></i> <strong>1-800-123-1234</strong>
                    </span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 d-none d-lg-block d-md-block-d-sm-block d-xs-none text-end">
                    <span class="me-3">
                        <i class="fa-solid fa-wrench text-muted me-1"></i>
                        <a class="text-muted" th:href="@{/build}">Xây dựng cấu hình</a>
                    </span>
                    <span class="me-3"><i class="fa-solid fa-file text-muted me-2"></i><a class="text-muted" href="#">Policy</a></span>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg bg-light sticky-top navbar-light p-3 shadow-sm">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}"><i class="fa-solid fa-shop"></i> <strong>GEAR SHOP</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="ms-auto d-none d-lg-block">
                    <form th:action="@{/product/search}" method="GET">
                        <div class="input-group">
                            <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" name="name" class="form-control border-warning" style="color:#7a7a7a">
                            <button class="btn btn-warning text-white" type="submit">Search</button>
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav ms-auto">
                        <a class="nav-link mx-1 text-uppercase" th:href="@{/product?page=0}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1 text-uppercase" th:href="@{/catalog}">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1 text-uppercase" th:href="@{/services}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link mx-1 text-uppercase" th:href="@{/about}">About</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto d-flex">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase position-relative"
                           sec:authorize="isAuthenticated()" th:href="@{/cart}">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Cart
                            <sup class="text-danger" id="cartItemCount" style="font-size:14px"></sup>
                        </a>
                        <a href="#" class="nav-link text-uppercase position-relative" sec:authorize="!isAuthenticated()"
                           data-bs-toggle="modal" data-bs-target="#ModalForm">
                            <i class="fa-solid fa-cart-shopping"></i>
                            Cart
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a href="#" class="nav-link mx-1 text-uppercase text-success"
                           data-bs-toggle="modal" data-bs-target="#ModalForm">
                            <i class="fa-solid fa-circle-user"></i> Login</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link mx-1 text-uppercase dropdown-toggle" href="#" role="button"
                           id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-circle-user"></i>
                            <span th:text="${#authentication.name}"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li>
                                <a class="dropdown-item text-uppercase fw-bold" th:href="@{/profile}">
                                    <i class="fa-solid fa-id-card me-1"></i>
                                    Profile
                                </a>
                            </li>
                            <li class="mt-1">
                                <a class="dropdown-item text-uppercase fw-bold" href="#">
                                    <i class="fa-solid fa-gear me-1"></i>
                                    Setting
                                </a>
                            </li>
                            <hr>
                            <li>
                                <a class="dropdown-item text-uppercase fw-bold link-danger" th:href="@{/logout}">
                                    <i class="fa-solid fa-right-from-bracket me-1"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="ModalForm" tabindex="-1" aria-labelledby="ModalFormLabel" aria-hidden="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="form-area bg-primary">
                        <h1 class="text-center">Login</h1>
                        <form th:action="@{/login}" method="POST">
                            <div class="form-floating mb-3 mt-4">
                                <input type="text" class="form-control" id="username"
                                       name="username" placeholder="Username">
                                <label for="username" class="text-info">Username</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password"
                                       name="password" placeholder="Password">
                                <label for="password" class="text-info">Password</label>
                            </div>
                            <div class="d-flex justify-content-between align-items-center my-2">
                                <!-- Checkbox -->
                                <div class="form-check mb-0">
                                    <input class="form-check-input me-2" type="checkbox" name="remember-me" id="remember-me" />
                                    <label class="form-check-label" for="remember-me">
                                        Remember me?
                                    </label>
                                </div>
                                <a th:href="@{/forgot-password}" class="link-light fw-bold">Forgot password?</a>
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                                <a th:href="@{/oauth2/authorization/facebook}" class="btn btn-sm btn-light mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a th:href="@{/oauth2/authorization/google}" class="btn btn-sm btn-light mx-1">
                                    <i class="fab fa-google"></i>
                                </a>
                            </div>
                            <button type="submit" class="btn btn-light mt-3">LOGIN</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account?
                                <a th:href="@{/register}" class="text-light">Register</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div th:insert="~{::${content}}">
<!-- Nội dung chính -->
</div>

<footer class="text-center text-lg-start bg-light text-muted mt-lg-3" th:fragment="footer">
    <section class="">
        <div class="container d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <div>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Products
                    </h6>
                    <p>
                        <a th:href="@{/product/search?category=cpu}" class="text-reset">CPU</a>
                    </p>
                    <p>
                        <a th:href="@{/product/search?category=mainboard}" class="text-reset">Mainboard</a>
                    </p>
                    <p>
                        <a th:href="@{/product/search?category=ram}" class="text-reset">RAM</a>
                    </p>
                    <p>
                        <a th:href="@{/product/search?category=vga}" class="text-reset">VGA</a>
                    </p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Useful links
                    </h6>
                    <p>
                        <a th:href="@{/catalog}" class="text-reset">Catalog</a>
                    </p>
                    <p>
                        <a th:href="@{/product}" class="text-reset">Product</a>
                    </p>
                    <p>
                        <a th:href="@{/services}" class="text-reset">Services</a>
                    </p>
                    <p>
                        <a th:href="@{/about}" class="text-reset">About</a>
                    </p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3"></i> Trường Đại học Công Nghệ TP.HCM</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@example.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023 Copyright:
        <a class="fw-bold link-info" href="#">Phạm Bảo Phúc</a>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var cartItemCountElement = document.getElementById("cartItemCount");

            // Gọi API để lấy số lượng sản phẩm trong chi tiết hóa đơn
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/cartItemCount", true);
            xhr.onload = function() {
              if (xhr.status === 200) {
                var cartItemCount = JSON.parse(xhr.responseText);
                cartItemCountElement.textContent = cartItemCount;
              }
            };
            xhr.send();
        });
    </script>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
</footer>
</body>
</html>